* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base Tags*/
body {
    background-color: rgb(59, 57, 57);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h1{
    margin: 0;
}
button {
    width: fit-content;
    padding: 10px 20px;
    height: 75px;
    font-size: 30px;
    color: whitesmoke;
    background-color: blueviolet;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
}
button:hover {
    background-color: rgb(167, 130, 202);
}


input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
/*Base Tags*/

/*Psuedo Tag*/
header {
    background-color: blueviolet;
    text-align: center;
    height: 100px;
    position: sticky;
    top: 0;
}
main{
    min-height: 78vh;
    padding: 10px;
    text-align: center;
}
footer {
    background-color: rgb(20, 20, 20);
    text-align: center;
}
/*Psuedo Tag*/

/*ID's*/
#hTxt {
    font-size: 85px;
}
#manImage {
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
#manSection {
    text-align: center;
    width: 400px;
    margin: 10px auto;
}
#github-Link {
    font-size: 30px;
    color: blueviolet;
    text-decoration: none;
}
#pass-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#login-section {
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: rgb(37, 36, 36);
    padding: 20px;
    margin: 15px auto;
    box-shadow: rgb(37, 36, 36) -1px -1px 20px;
}
#top-button {
    background-color: black;
}
    /*Hover Effect*/
    #github-Link:hover {
        color: rgb(165, 112, 214);
    }
    /*Hover Effect*/
/*ID's*/

/*CLASSES*/
.footerBox {
    background-color: blueviolet;
    width: 100px;
    min-height: 50px;
    margin: 5px;
    text-align: center;
}
/*CLASSES*/

/*MULTIUSE CLASSES*/
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
/*MULTIUSE CLASSES*/