* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base Tags*/
body {
    background-color: rgb(59, 57, 57);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
main{
    height: 74.8vh;
}
h1{
    margin: 0;
}
button {
    width: 200px;
    height: 100px;
    font-size: 40px;
    color: whitesmoke;
    background-color: blueviolet;
    border: none;
    border-radius: 30px;
}

header {
    background-color: blueviolet;
    text-align: center;
    height: 100px;
    position: sticky;
    top: 0;
}
footer {
    background-color: rgb(20, 20, 20);
    position: sticky;
    bottom: 0;
}
/*Base Tags*/

/*ID's*/
#hTxt {
    font-size: 85px;
}
#manImage {
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
/*ID's*/

/*CLASSES*/
.footerBox {
    background-color: blueviolet;
    width: 100px;
    min-height: 50px;
    margin: 5px;
    text-align: center;
}
/*CLASSES*/