* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base Tags*/
body {
    background-color: rgb(59, 57, 57);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
main{
    min-height: 78vh;
    padding: 10px;
    text-align: center;
}
h1{
    margin: 0;
}
button {
    width: fit-content;
    padding: 10px 20px;
    height: 75px;
    font-size: 30px;
    color: whitesmoke;
    background-color: blueviolet;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
}
button:hover {
    background-color: rgb(167, 130, 202);
}

header {
    background-color: blueviolet;
    text-align: center;
    height: 100px;
    position: sticky;
    top: 0;
}
footer {
    background-color: rgb(20, 20, 20);
    text-align: center;
}
/*Base Tags*/

/*ID's*/
#hTxt {
    font-size: 85px;
}
#manImage {
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
#manSection {
    text-align: center;
    width: 400px;
    margin: 10px auto;
}
#github-Link {
    font-size: 30px;
    color: blueviolet;
    text-decoration: none;
}
#github-Link:hover {
    color: rgb(165, 112, 214);
}
/*ID's*/

/*CLASSES*/
.footerBox {
    background-color: blueviolet;
    width: 100px;
    min-height: 50px;
    margin: 5px;
    text-align: center;
}
/*CLASSES*/

/*MULTIUSE CLASSES*/
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
/*MULTIUSE CLASSES*/